<a id="function/${name}.html"></a>
<h1>Function <code>${name}</code></h1>
<p>${descr}</p>
<p>Returns: <code>${resultType}</code></p>

<h2>Arguments</h2>
<p>
#if( $arity > 0 )
<b>${arity}</b> arguments: #foreach( $type in $argTypes )<code>${type}</code>#if( $foreach.hasNext ), #end#end
#elseif( $arity == 0 )
No arguments
#elseif( $arity == -1 )
Any number of arguments of type <code>${argTypes[0]}</code>
#else
#if( $arity == -2 )
Record Key (implicit).
#elseif( $arity == -3 )
Record Object of type <code>${argTypes[0]}</code> (implicit).
#elseif( $arity == -4 )
Record Key (implicit), Record Object (implicit).
#elseif( $arity == -5 )
Record level.
#end
See description for any additional arguments
#end
</p>

#if( $example != $null )
<h2>Usage Example</h2>
<pre class="code">${example}</pre>
#end

<p>Back to <a href="package/${pkgName}.html">package</a>, to <a href="index.html">index</a></p>
