<a id="operator/${symbol.hashCode()}.html"></a>
<h1>Operator <code>${symbol}</code></h1>
<p>${descr}</p>
<p>Priority: <b>${priority}</b>
#if( $rightAssoc )<br><b>Right associative</b>#end
#if( $handleNull )<br><b>Handles NULLs</b>#end
</p>
<p>Returns: <code>${resultType}</code></p>

<h2>Operands</h2>
<p><b>${arity}</b> operands: #foreach( $type in $argTypes )<code>${type}</code>#if( $foreach.hasNext ), #end#end</p>

<p>Back to <a href="package/${pkgName}.html">package</a>, to <a href="index.html">index</a></p>
