<a id="package/${name}.html"></a>
<h1>Package <code>${name}</code></h1>
<p>${descr}</p>

#if( $operators.size() > 0 )
<h2>${operators.size()} Operators</h2>
<table>
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Priority</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $op in $operators.entrySet() )
        <tr>
            <td><a href="operator/${op.key.hashCode()}.html">${op.key}</a></td>
            <td><a href="operator/${op.key.hashCode()}.html">${op.value.priority}</a></td>
            <td>${op.value.descr}</td>
        </tr>
        #end
    </tbody>
</table>
#end

#if( $functions.size() > 0 )
<h2>${functions.size()} Functions</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $op in $functions.entrySet() )
        <tr>
            <td><a href="function/${op.key}.html">${op.key}</a></td>
            <td>${op.value.descr}</td>
        </tr>
        #end
    </tbody>
</table>
#end

#if( $pluggables.size() > 0 )
<h2>${pluggables.size()} Pluggables</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $plg in $pluggables.entrySet() )
        <tr>
            <td><a href="pluggable/${plg.key}.html">${plg.key}</a></td>
            <td>#foreach( $k in $plg.value.meta.kind() )$k#if( $foreach.hasNext ), #end#end</td>
            <td>${plg.value.meta.descr}</td>
        </tr>
        #end
    </tbody>
</table>
#end

<p>Back to <a href="index.html">index</a></p>
