<a id="input/${op.verb}.html"></a>
<h1>Input Adapter <code>${op.verb}</code></h1>
<p>${op.descr}</p>
<p>Can generate: <code>#foreach( $type in $op.type )${type}#if( $foreach.hasNext ), #end#end</code></p>
<p>${op.path}</p>

#if( $op.definitions != $null )
<h2>Parameters</h2>
<table>
    <thead>
    <tr>
        <th>Name or prefix</th>
        <th>Description</th>
        <th>Allowed values</th>
        <th>Defaultness</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $param in $op.definitions.entrySet() )
        <tr>
            <td><code>${param.key}</code></td>
            <td>${param.value.descr}</td>
            <td>#if( $param.value.values != $null )#foreach( $value in $param.value.values.entrySet() )
                <code>${value.key}</code> — ${value.value}#if( $foreach.hasNext )
                    <br>#end#end#else<code>${param.value.hrType}</code>#end</td>
            <td>#if( $param.value.optional )#if( $param.value.defaults != $null )<code>${param.value.defaults}</code>
                — ${param.value.defDescr}#else Unset#end#elseif( $param.value.dynamic )Dynamic#else Mandatory#end</td>
        </tr>
        #end
    </tbody>
</table>
#else
<p>This Input Adapter has no parameters.</p>
#end

#if( $example != $null )
<h2>Configuration example</h2>
<pre class="code">${example}</pre>
#end

<p>Back to <a href="package/${pkgName}.html">package</a>, to <a href="index.html">index</a></p>
