<a id="operation/${op.verb}.html"></a>
<h1>Operation <code>${op.verb}</code></h1>
<p>${op.descr}</p>

<h2>Inputs</h2>
#if( $op.input.positional != $null )
<p>#if( $op.input.positional > 0)
    This operation requires <b>${op.input.positional}</b>
#else
    This operation has following
#end
    <b>positional</b> input(s): ${op.input.streams.descr}</p>
<p>Allowed types are: <code>#foreach( $type in $op.input.streams.type )${type}#if( $foreach.hasNext ), #end#end</code></p>
#else
<p>This operation has <b>named</b> inputs</p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Defaultness</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $input in $op.input.streams.entrySet() )
        <tr>
            <td><code>${input.key}</code></td>
            <td><code>#foreach( $type in $input.value.type )${type}#if( $foreach.hasNext ), #end#end</code></td>
            <td>${input.value.descr}</td>
            <td>#if( ${input.value.optional} )Optional#else Mandatory#end</td>
        #end
    </tbody>
</table>
#end

#if( $op.definitions != $null )
<h2>Parameters</h2>
<table>
    <thead>
    <tr>
        <th>Name or prefix</th>
        <th>Description</th>
        <th>Allowed values</th>
        <th>Defaultness</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $param in $op.definitions.entrySet() )
        <tr>
            <td><code>${param.key}</code></td>
            <td>${param.value.descr}</td>
            <td>#if( $param.value.values != $null )#foreach( $value in $param.value.values.entrySet() )
                <code>${value.key}</code> — ${value.value}#if( $foreach.hasNext )
                    <br>#end#end#else<code>${param.value.hrType}</code>#end</td>
            <td>#if( $param.value.optional )#if( $param.value.defaults != $null )<code>${param.value.defaults}</code>
                — ${param.value.defDescr}#else Unset#end#elseif( $param.value.dynamic )Dynamic#else Mandatory#end</td>
        </tr>
        #end
    </tbody>
</table>
#end

<h2>Outputs</h2>
#if( $op.output.positional != $null )
<p>This operation produces #if( $op.output.positional > 0)<b>${op.output.positional}</b>#end
    <code>${op.output.streams.origin}</code> <b>positional</b> output(s): ${op.output.streams.descr}</p>
<p>Resulting types are: <code>#foreach( $type in $op.output.streams.type )${type}#if( $foreach.hasNext ), #end#end</code></p>
    #if( $op.output.streams.generated != $null )
    <p>Output has following <b>generated</b> attributes</p>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            #foreach( $param in $op.output.streams.generated.entrySet() )
            <tr>
                <td><code>${param.key}</code></td>
                <td>${param.value}</td>
            </tr>
            #end
        </tbody>
    </table>
    #end
    #if( $op.output.streams.ancestors != $null )
    <p>This output ancestors are: <code>#foreach( $type in $op.output.streams.ancestors )
        ${type}#if( $foreach.hasNext ), #end#end</code></p>
    #end
#else
<p>This operation produces <b>named</b> outputs</p>
    #foreach( $output in $op.output.streams.entrySet() )
    <h3>#if( $output.value.optional )<b>Optional</b> #end<code>${output.value.origin} ${output.key}</code></h3>
    <p>${output.value.descr}</p>
    <p>Resulting types are: <code>#foreach( $type in $output.value.type )${type}#if( $foreach.hasNext ), #end#end</code></p>
        #if( $output.value.generated != $null )
        <p>Output has following <b>generated</b> attributes</p>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                #foreach( $param in $output.value.generated.entrySet() )
                <tr>
                    <td><code>${param.key}</code></td>
                    <td>${param.value}</td>
                </tr>
                #end
            </tbody>
        </table>
        #end
        #if( $output.value.ancestors != $null )
        <p>This output ancestors are: <code>#foreach( $type in $output.value.ancestors )
            ${type}#if( $foreach.hasNext ), #end#end</code></p>
        #end
    #end
#end

#if( $example != $null )
<h2>Configuration example</h2>
<pre class="code">${example}</pre>
#end

<p>Back to <a href="package/${pkgName}.html">package</a>, to <a href="index.html">index</a></p>
