<a id="operation/${op.verb}.html"></a>
<h1>Operation <code>${op.verb}</code></h1>

<p>${op.descr}</p>

<h2>Inputs</h2>

#if( $op.input.positional != $null )
<p>#if( $op.input.positional > 1)
    There is a required minimum of <b>${op.input.positional}</b>
#else
    This operation has following
#end
    Positional inputs: ${op.input.streams.descr}</p>

<p>Allowed types are: #foreach( $type in $op.input.streams.type )<code>${type}</code>#if( $foreach.hasNext ), #end#end
</p>

#else
<p>This operation has Named inputs</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Defaultness</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $input in $op.input.streams.entrySet() )
        <tr>
            <td><code>${input.key}</code></td>
            <td>#foreach( $type in $input.value.type )<code>${type}</code>#if( $foreach.hasNext ), #end#end</td>
            <td>${input.value.descr}</td>
            <td>#if( ${input.value.optional} )Optional#else Mandatory#end</td>
        #end
    </tbody>
</table>
#end

<h2>Parameters</h2>

#if( $op.definitions != $null )
<table>
    <thead>
    <tr>
        <th>Name or prefix</th>
        <th>Description</th>
        <th>Allowed values</th>
        <th>Defaultness</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $param in $op.definitions.entrySet() )
        <tr>
            <td><code>${param.key}</code></td>
            <td>${param.value.descr}</td>
            <td>#if( $param.value.values != $null )#foreach( $value in $param.value.values.entrySet() )
                <code>${value.key}</code> — ${value.value}#if( $foreach.hasNext )
                    <br>#end#end#else<code>${param.value.hrType}</code>#end</td>
            <td>#if( $param.value.optional )#if( $param.value.defaults != $null )<code>${param.value.defaults}</code>
                — ${param.value.defDescr}#else Unset#end#elseif( $param.value.dynamic )Dynamic#else Mandatory#end</td>
        </tr>
        #end
    </tbody>
</table>
#else
<p>This Operation has no parameters.</p>
#end

<h2>Outputs</h2>

#if( $op.output.positional != $null )
<p>This operation has <code>${op.output.streams.origin}</code> Positional outputs: ${op.output.streams.descr}</p>

<p>Resulting types are: #foreach( $type in $op.output.streams.type )<code>${type}</code>#if( $foreach.hasNext )
    , #end#end</p>

    #if( $op.output.streams.generated != $null )
    <p>Output has following Generated columns</p>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            #foreach( $param in $op.output.streams.generated.entrySet() )
            <tr>
                <td><code>${param.key}</code></td>
                <td>${param.value}</td>
            </tr>
            #end
        </tbody>
    </table>
    #end
    #if( $op.output.streams.ancestors != $null )
    <p>This output ancestors are: #foreach( $type in $op.output.streams.ancestors )
        <code>${type}</code>#if( $foreach.hasNext ), #end#end</p>
    #end
#else
<p>This operation has Named outputs</p>

    #foreach( $output in $op.output.streams.entrySet() )
    <h3>#if( $output.value.optional )Optional #end<code>${output.value.origin}</code> <code>${output.key}</code></h3>

    <p>${output.value.descr}</p>

    <p>Resulting types are: #foreach( $type in $output.value.type )<code>${type}</code>#if( $foreach.hasNext ), #end#end
    </p>

        #if( $output.value.generated != $null )
        <p>Output has following generated columns</p>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                #foreach( $param in $output.value.generated.entrySet() )
                <tr>
                    <td><code>${param.key}</code></td>
                    <td>${param.value}</td>
                </tr>
                #end
            </tbody>
        </table>
        #end
        #if( $output.value.ancestors != $null )
        <p>This output ancestors are: #foreach( $type in $output.value.ancestors )
            <code>${type}</code>#if( $foreach.hasNext ),#end#end</p>
        #end
    #end
#end
#if( $example != $null )
<h2>Configuration example</h2>

<pre class="code">${example}</pre>
#end

<p>Back to <a href="package/${pkgName}.html">package</a>, to <a href="index.html">index</a></p>