.par-etl {
    background: url("./img/par-etl.jpg");
    height: 300px;
    width: 961px;
    animation-name: par-etl;
}

.par-etl:hover, .par-etl:active {
    animation: none;
}

@keyframes par-etl {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-361px);
    }
    100% {
        transform: translateX(0px);
    }
}

.transforms {
    background: url("./img/transforms.jpg");
    height: 300px;
    width: 961px;
    animation-name: transforms;
}

.transforms:hover, .transforms:active {
    animation: none;
}

@keyframes transforms {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-361px);
    }
    100% {
        transform: translateX(0px);
    }
}

.extend {
    background: url(./img/extend.jpg);
    height: 300px;
    width: 961px;
    animation-name: extend;
}

.extend:hover, .extend:active {
    animation: none;
}

@keyframes extend {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-361px);
    }
    100% {
        transform: translateX(0px);
    }
}

.modes {
    background: url(./img/99_command_line.png);
    height: 533px;
    width: 691px;
    animation-name: modes;
}

.modes:hover, .modes:active {
    animation: none;
    transform: translateY(-145px);
}

@keyframes modes {
    0% {
        transform: translateX(0px) translateY(-145px);
    }
    50% {
        transform: translateX(-391px) translateY(-145px);
    }
    100% {
        transform: translateX(0px) translateY(-145px);
    }
}

.algorithms {
    background: url("./img/98_show_op.png");
    height: 535px;
    width: 1032px;
    animation-name: algorithms;
}

.algorithms:hover, .algorithms:active {
    animation: none;
}

@keyframes algorithms {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-732px);
    }
    100% {
        transform: translateX(0px);
    }
}

.no-catalog {
    background: url("./img/no-catalog.jpg");
    height: 300px;
    width: 960px;
    animation-name: no-catalog;
}

.no-catalog:hover, .no-catalog:active {
    animation: none;
}

@keyframes no-catalog {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-660px);
    }
    100% {
        transform: translateX(0px);
    }
}

.etl-code {
    background: url(./img/01_main_course.png);
    height: 2530px;
    width: 1548px;
    animation-name: etl-code;
}

@keyframes etl-code {
    0% {
        transform: translateX(-20px) translateY(0px);
    }
    50% {
        transform: translateX(-20px) translateY(-2130px);
    }
    100% {
        transform: translateX(-20px) translateY(0px);
    }
}

.formats {
    background: url(./img/formats.jpg);
    height: 300px;
    width: 960px;
    animation-name: formats;
}

.formats:hover, .formats:active {
    animation: none;
}

@keyframes formats {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-660px);
    }
    100% {
        transform: translateX(0px);
    }
}

.storage {
    background: url("./img/97_show_in.png");
    height: 531px;
    width: 1029px;
    animation-name: algorithms;
}

.storage:hover, .storage:active {
    animation: none;
}

@keyframes storage {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-729px);
    }
    100% {
        transform: translateX(0px);
    }
}

.sql {
    background: url(./img/slider-sql.jpg);
    height: 300px;
    width: 960px;
    animation-name: sql;
}

.sql:hover, .sql:active {
    animation: none;
}

@keyframes sql {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(0px);
    }
}

.start-local {
    background: url(./img/96_start_log.png);
    height: 309px;
    width: 1312px;
    animation-name: start-local;
}

.start-local:hover, .start-local:active {
    animation: none;
}

@keyframes start-local {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1012px);
    }
    100% {
        transform: translateX(0px);
    }
}

.heatmap {
    background: url(./img/50_heatmap.png);
    height: 600px;
    width: 900px;
    animation-name: heatmap;
}

@keyframes heatmap {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    50% {
        transform: translateX(-300px) translateY(-200px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

.marketing_1 {
    background: url(./img/marketing_1.png);
    animation-name: marketing_1;
    height: 300px;
    width: 300px;
}

@keyframes marketing_1 {
    0% {
        transform: scale(0.9, 0.9);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0.9, 0.9);
    }
}

.marketing_2 {
    background: url(./img/marketing_2.png);
    animation-name: marketing_2;
    height: 368px;
    width: 368px;
}

@keyframes marketing_2 {
    0% {
        transform: scale(0.8, 0.8) translateX(-5%) translateY(-5%);
    }
    50% {
        transform: scale(1, 1) translateX(-15%) translateY(-15%);
    }
    100% {
        transform: scale(0.8, 0.8) translateX(-5%) translateY(-5%);
    }
}

.marketing_3 {
    background: url(./img/marketing_3.png);
    animation-name: marketing_3;
    height: 600px;
    width: 600px;
}

@keyframes marketing_3 {
    0% {
        transform: scale(0.5, 0.5) translateX(-50%) translateY(-50%);
    }
    50% {
        transform: scale(1, 1) translateX(-20%) translateY(-20%);
    }
    100% {
        transform: scale(0.5, 0.5) translateX(-50%) translateY(-50%);
    }
}
