* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Calibri, Tahoma, Arial, sans-serif;
    line-height: 16pt;
    font-size: 12pt;
}

body {
    background-color: #ffffff;
    color: #000000;
}

.splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 30pt;
    text-align: center;
}

.splash * {
    font-size: 30pt;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px;
    gap: 5px 5px;
    grid-template-areas:
            "logo toolbar"
            "canvas canvas";
    width: 100vw;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
}

.cell {
    overflow: auto;
    cursor: default;
}

.logo {
    grid-area: logo;
    display: flex;
}

.toolbar {
    grid-area: toolbar;
    text-align: right;
    align-content: flex-end;
    padding: 4px;
}

.canvas {
    grid-area: canvas;
}

ul {
    margin-top: 3px;
    list-style-type: disc;
    list-style-position: inside;
}

li {
    margin-bottom: 5px;
    padding-left: 40px;
}

p {
    margin: 1em auto;
}

a {
    color: black;
    text-decoration-color: #777777;
    text-underline-offset: 3px;
}

h1, h2, h3 {
    color: black;
    margin: 1em auto 0.3em;
}

.img-hld {
    display: inline-block;
    background-color: #cccccc;
}

.floor {
    display: inline-block;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    position:relative;
    min-height: 300px;
}

.floor:first-of-type {
    margin-top: 0;
}

.floor:nth-of-type(even) .floor-hero {
    float: left;
    margin-right: 20px;
}

.floor:nth-of-type(odd) .floor-hero {
    float: right;
    margin-left: 20px;
}

.small-hero {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.main-hero {
    height: 400px;
    width: 600px;
    overflow: hidden;
}

.small-hero:hover, .small-hero:active {
    height: 300px;
    width: 960px;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    left: 0;
    background-color: #000;
    margin-left: 20px;
}

.slider, .zoom {
    animation-duration: 100000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.floor:hover .slider, .floor:hover .zoom, .floor:active .slider, .floor:active .zoom {
    animation-duration: 45s;
}

.zoomer {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.gray {
    background-color: #dddddd;
    padding: 20px;
}

h1 {
    font-size: 30pt;
}

h2, h2 * {
    font-size: 18pt;
    line-height: 24pt;
}

h3 {
    font-size: 14pt;
    line-height: 18pt;
}

.flex {
    display: flex;
    align-content: center;
}

.card {
    display: inline-block;
    align-self: start;
}

._1_4 {
    width: 22%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a.button {
    background-color: #3e7ebb;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
