* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Calibri, Tahoma, Arial, sans-serif;
    line-height: 16pt;
    font-size: 12pt;
}

body {
    background-color: #ffffff;
    color: #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1fr 14fr;
    gap: 5px 5px;
    grid-template-areas:
            "toolbar toolbar"
            "index canvas";
    width: 100vw;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
}

.cell {
    box-shadow: 3px 3px 10px #f0f0f0;
    padding: 5px;
    overflow: auto;
    cursor: default;
}

.canvas {
}

.toolbar {
    grid-area: toolbar;
    display: flex;
}

.canvas {
    grid-area: canvas;
}

.package-list {
    display: none;
}

.shown {
    display: revert;
}

ul {
    margin-top: 3px;
    padding-inline-start: 20px;
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

small {
    padding-left: 1em;
    font-size: 9pt;
}

p {
    margin: 1em auto;
}

h1, h2, h3, h4 {
    color: #3e7ebb;
    margin: 1em auto 0.3em;
}

.i {
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #add8e6;
    color: #6495ed;
    background-color: #cff1ff;
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    font-size: 9pt;
}

.i small {
    padding: 10px;
    display: none;
    text-align: left;
    background-color: white;
    border: 1px solid #add8e6;
    border-radius: 4px;
    min-width: 250px;
    box-shadow: inset 0 0 10px #cff1ff;
}

.i:hover small {
    display: block;
    z-index: 10;
    position: relative;
}

.btn-right .i:hover small {
    right: 234px;
}

.btn-extra {
    display: inline-block;
}

button, input, select, textarea {
    margin: 2px;
    padding: 2px;
    min-width: 50px;
}

button, textarea {
    border: 1px #d3d3d3 solid;
}

button, select:invalid {
    background-color: #efefef;
}

select, input {
    border: none;
    border-bottom: 1px #d3d3d3 solid;
}

.layer {
    display: none;
}

.switch-active {
    border: 1px solid #add8e6;
    color: #6495ed;
    background-color: #cff1ff;
}
